<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/result" method="post">
        <label for="name">Your Name:</label>
        <input type="text" name="name" id="name"> <br>
        <label for="loc">Dojo Location:</label>
        <input type="text" name="loc" id="loc"><br>
        <label for="lang">Fav Lang:</label>
        <input type="text" name="lang" id="lang"><br>
        <label for="comm">comment (opptional):</label><br>
        <textarea name="comm" id="comm" cols="30" rows="10"></textarea><br>
        <input type="submit">
    </form>
    
</body>
</html>