<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <center>
        <h1>Add a Author</h1>
        <form action="/addauth" method="POST">
        {% csrf_token%}
        <input type="hidden">
        first name : <input type="text" name="first_name"><br><br>
        last name : <input type="text" name="last_name"><br><br>
        Notes : <input type="text" name="notes" class="text"></textarea><br><br>
        <button>Add</button>
        </form>
    </center>
    <h2>all Authors</h2>
    <li>{%for i in all_auth%}</li>
    <li>{{i.first_name}} {{i.last_name}}</li>
    <li>{{i.notes}}</li>
    <li>{%endfor%}</li>
</body>
</html>