<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>authors</title>
</head>
<body>
    <h1>Add an author</h1>
    <form action="/addauthor" method="POST">
        {% csrf_token %}
        <p> First Name<input type="text" name="first_name" ></p>
        <p> Last Name<input type="text" name="last_name" ></p>
       <p>Notes <input type="text" name="notes"> </p>
       <button>Add</button>
    </form>
<hr>
    <table>
        <tr>
            <td>Id</td>
            <td>Title</td>
            <td>Action</td>
        </tr>
        {% for auth in authors %}
        <tr>
            <td>{{auth.id}}</td>
            <td>{{auth.first_name}}  {{auth.last_name}}</td>
            <td><a href="authors/{{auth.id}}">View</a></td>
        </tr>
        {% endfor %}

    </table>
    
</body>
</html>