<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>books</title>
</head>
<body>
    <h1>Add a Book</h1>
    <form action="/addbook" method="POST">
        {% csrf_token %}
       <p> Title<input type="text" name="title" ></p>
       <p>Description <input type="text" name="description"></p>
       <button>Add</button>
    </form>
<hr>
    <table>
        <tr>
            <td>Id</td>
            <td>Title</td>
            <td>Action</td>
        </tr>
        {% for book in books %}
        <tr>
            <td>{{book.id}}</td>
            <td>{{book.title}}</td>
            <td><a href="books/{{book.id}}">View</a></td>
        </tr>
        {% endfor %}

    </table>
    
</body>
</html>